# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ----------------------------
# Entornos virtuales
# ----------------------------
env/
venv/
.env

# ----------------------------
# Django
# ----------------------------
db.sqlite3
/media/
staticfiles/
*.log

# ----------------------------
# Datos
# ----------------------------
data/raw/
data/*.csv
!data/wrangling_summary.csv
!data/features_comparison.csv
# Opcional: permitir también datasets limpios finales
!data/places_no_social_clean.csv
!data/places_imputed_full_clean.csv

# ----------------------------
# DVC y MLflow
# ----------------------------
.dvc/
mlruns/
