# ======================================================
#  CityMind - Git Ignore
# Limpieza para proyecto de ciencia de datos / MLOps
# ======================================================

# ----------------------------
#  Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ----------------------------
#  Entornos virtuales
# ----------------------------
env/
venv/
.venv/
.env

# ----------------------------
# ⚙️ Configuración y logs
# ----------------------------
*.log
*.tmp
*.bak

# ----------------------------
#  Datos
# ----------------------------
data/raw/
data/interim/
data/processed/
data/external/
data-old/

# ✅ Permitimos solo los resúmenes limpios finales
!data/processed/no_social/places_no_social_clean.csv
!data/processed/full_social/places_imputed_full_clean.csv
!data/processed/wrangling_summary.csv

# ----------------------------
# 📁 Archivos de salida
# ----------------------------
reports/*.pdf
reports/*.html
reports/*.docx

# ----------------------------
# ⚗️ Experimentos y pipelines
# ----------------------------
.dvc/
mlruns/
.snakemake/
archive/
scripts-old/

# ----------------------------
# 🪟 Sistema
# ----------------------------
.DS_Store
Thumbs.db
pandoc-*.msi
/models
